<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <title>Redirecting...</title>
    <meta http-equiv="Refresh" content="0; url='{{ .Params.redirect }}'" />
</head>
<body></body>
</html>
