@import "/css/lightbox.css";

h1 {
	text-align: left;
}

body, h1 {
	font-weight: normal;
}

table {
	width: 100%;
	max-width: 100%;
}

.menu-extra-link::before {
	width: 1.5em;
	text-align: center;
	display: inline-block;
}

.external-link::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 0.9em;
	content: "\f57d ";
}

.tab-nav-button, .expand > label {
	font-weight: initial !important;
}

.tab-nav-button.active > .tab-nav-text {
	text-shadow: none !important;
}

/*
for the table-fit-content shortcode.
use immediately prior to the table you want to target.
*/
.table-fit-content + table {
	width: fit-content;
}

.floating-table {
	float: right;
	width: 24rem;
	margin-top: 0;
	margin-left: 1rem;
}

.floating-table > tbody > tr > td:first-of-type {
	width: 50%;
}

/* Don't float the table on small screens */
@media screen and (max-width: 64rem) {
	.floating-table {
		float: none;
		margin-left: 0;
	}
}

/* Fix underscores in code blocks not appearing */
code {
  line-height: 1.33;
}
