@import "/css/theme-relearn-light.css";
@import "/css/theme-gesource-common.css";

:root {
    --PRIMARY-color: rgba( 40, 40, 40, 1 ); /* brand primary color */
    --SECONDARY-color: rgba( 72, 106, 201, 1 ); /* brand secondary color */
    --ACCENT-color: rgba( 255, 136, 255, 1 ); /* brand accent color, used for search highlights */

    --MAIN-TEXT-color: rgba( 16, 16, 16, 1 ); /* text color of content and h1 titles */
    --MAIN-LINK-HOVER-color: rgba( 32, 40, 145, 1 ); /* hovered link color of content */
    --MAIN-BG-color: rgba( 251, 250, 249, 1 ); /* background color of content */
    --MAIN-TITLES-TEXT-color: rgba( 74, 74, 74, 1 ); /* text color of h2-h6 titles and transparent box titles */

    /* adjusted to relearn-light chroma style */
    --CODE-BLOCK-color: rgba( 0, 0, 0, 1 ); /* fallback text color of block code; should be adjusted to your selected chroma style */
    --CODE-BLOCK-BG-color: rgba( 248, 248, 248, 1 ); /* fallback background color of block code; should be adjusted to your selected chroma style */
    --CODE-BLOCK-BORDER-color: rgba( 216, 216, 216, 1 ); /* border color of block code */

    --CODE-INLINE-color: rgba( 94, 94, 94, 1 ); /* text color of inline code */
    --CODE-INLINE-BG-color: rgba( 255, 250, 233, 1 ); /* background color of inline code */
    --CODE-INLINE-BORDER-color: rgba( 248, 232, 200, 1 ); /* border color of inline code */

    --BROWSER-theme: light; /* name of the theme for browser scrollbars of the main section */
    --MERMAID-theme: default; /* name of the default Mermaid theme for this variant, can be overridden in config.toml */
    --OPENAPI-theme: light; /* name of the default OpenAPI theme for this variant, can be overridden in config.toml */
    --OPENAPI-CODE-theme: idea; /* name of the default OpenAPI code theme for this variant, can be overridden in config.toml */

    --MENU-HOME-LINK-color: rgba( 64, 64, 64, 1 ); /* home button color if configured */
    --MENU-HOME-LINK-HOVER-color: rgba( 0, 0, 0, 1 ); /* hovered home button color if configured */

    --MENU-SEARCH-color: rgba( 224, 224, 224, 1 ); /* text and icon color of search box */
    --MENU-SEARCH-BG-color: rgba( 50, 50, 50, 1 ); /* background color of search box */
    --MENU-SEARCH-BORDER-color: rgba( 224, 224, 224, 1 ); /* border color of search box */

    --MENU-SECTIONS-BG-color: rgba( 40, 40, 40, 1 ); /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
    --MENU-SECTIONS-ACTIVE-BG-color: rgba( 0, 0, 0, .166 ); /* background color of the active menu section */
    --MENU-SECTIONS-LINK-color: rgba( 186, 186, 186, 1 ); /* link color of menu topics */
    --MENU-SECTIONS-LINK-HOVER-color: rgba( 255, 255, 255, 1 ); /* hovered link color of menu topics */
    --MENU-SECTION-ACTIVE-CATEGORY-color: rgba( 68, 68, 68, 1 ); /* text color of the displayed menu topic */
    --MENU-SECTION-SEPARATOR-color: rgba( 96, 96, 96, 1 ); /* separator color between menu sections and menu footer */

    --BOX-CAPTION-color: rgba( 255, 255, 255, 1 ); /* text color of colored box titles */
    --BOX-BG-color: rgba( 255, 255, 255, .833 ); /* background color of colored boxes */
    --BOX-TEXT-color: rgba( 16, 16, 16, 1 ); /* text color of colored box content */
}
