<table class="floating-table">

	<tr>
		<td colspan="2">
			<img src="/characters/portraits/{{.Page.File.BaseFileName}}.jpg" alt="Character Portrait">
		</td>
	</tr>	
	
	{{ if .Get "name" }}
		{{ .Scratch.Set "name" (.Get "name") }}
	{{ else }}
		{{ .Scratch.Set "name" .Page.Title }}	
	{{ end }}

	<tr>
		<td>Name:</td>
		<td>{{ .Scratch.Get "name" | markdownify }}</td>
	</tr>
	
	{{ if .Get "aliases" }}
		<tr>
			<td>Alias(es):</td>
			<td>{{.Get "aliases" | markdownify }}</td>
		</tr>
	{{ end }}

	{{ if .Get "occupation" }}
		{{ .Scratch.Set "occupation" (.Get "occupation") }}
	{{ else }}
		{{ .Scratch.Set "occupation" "\\-" }}	
	{{ end }}

	<tr>
		<td>Occupation:</td>
		<td>{{ .Scratch.Get "occupation" | markdownify }}</td>
	</tr>
	
	{{ if .Get "affiliation" }}
		{{ .Scratch.Set "affiliation" (.Get "affiliation") }}
	{{ else }}
		{{ .Scratch.Set "affiliation" "\\-" }}	
	{{ end }}
	
	<tr>
		<td>Affiliation:</td>
		<td>{{ .Scratch.Get "affiliation" | markdownify }}</td>
	</tr>
	
	{{ if .Get "height" }}
		{{ .Scratch.Set "height" (.Get "height") }}
	{{ else }}
		{{ .Scratch.Set "height" "\\-" }}	
	{{ end }}
	
	<tr>
		<td>Height:</td>
		<td>{{ .Scratch.Get "height" | markdownify }}</td>
	</tr>
	
	{{ if .Get "nationality" }}
		{{ .Scratch.Set "nationality" (.Get "nationality") }}
	{{ else }}
		{{ .Scratch.Set "nationality" "\\-" }}	
	{{ end }}
	
	<tr>
		<td>Nationality:</td>
		<td>{{ .Scratch.Get "nationality" | markdownify }}</td>
	</tr>
	
	{{ if .Get "status" }}
		{{ .Scratch.Set "status" (.Get "status") }}
	{{ else }}
		{{ .Scratch.Set "status" "\\-" }}	
	{{ end }}
	
	<tr>
		<td>Status:</td>
		<td>{{ .Scratch.Get "status" | markdownify }}</td>
	</tr>

</table>
