<table class="floating-table">

	{{ if .Get "img-thumb" }}
		{{ if .Get "img-full" }}
			<tr>
				<td colspan="2">
					<a href="{{ .Get "img-full"}}" target="_blank" style="display:block; width: 100%">
						<img src="{{.Get "img-thumb"}}" alt="Screenshot of {{.Page.Title}}" style="display:block; width: 100%">
					</a>
				</td>
			</tr>
		{{ else }}
			<tr>
				<td colspan="2">
					<img src="{{.Get "img-thumb"}}" alt="Screenshot of {{.Page.Title}}" style="display:block; width: 100%">
				</td>
			</tr>
		{{ end }}
	{{ end }}

	{{ if .Get "mapname" }}
		<tr>
			<td>Map Name:</td>
			<td>{{ .Get "mapname" | markdownify }}</td>
		</tr>
	{{ end }}
	
	{{ if .Get "author" }}
		<tr>
			<td>Author:</td>
			<td>{{ .Get "author" | markdownify }}</td>
		</tr>
	{{ end }}
	
	{{ if .Get "first-release" }}
		<tr>
			<td>First Seen:</td>
			<td>{{ .Get "first-release" | markdownify }}</td>
		</tr>
	{{ end }}
	
	{{ if .Get "location" }}
		<tr>
			<td>Location:</td>
			<td>{{ .Get "location" | markdownify }}</td>
		</tr>
	{{ end }}
	
	{{ if .Get "playercount" }}
		<tr>
			<td>Ideal Player Count:</td>
			<td>{{ .Get "playercount" | markdownify }}</td>
		</tr>
	{{ end }}
	
	{{/* The following is for community content */}}
	
	{{ if .Get "released" }}
	  <tr>
	    <td>Released:</td>
	    <td>{{ .Get "released" | time.Format ":date_long" }}</td>
	  </tr>
	{{ end }}
	
  {{ if .Get "updated" }}
	  <tr>
	    <td>Updated:</td>
	    <td>{{ .Get "updated" | time.Format ":date_long" }}</td>
	  </tr>
	{{ end }}

	{{ if hasPrefix (.Get "wip-thread") "https://forums.geshl2.com/" }}
		<tr>
			<td>WIP Thread:</td>
			<td>
				<a href="{{ .Get "wip-thread"}}" target="_blank" class="external-link">Open</a>
			</td>
		</tr>
	{{ end }}

  {{ if hasPrefix (.Get "release-thread") "https://forums.geshl2.com/" }}
		<tr>
			<td>Release Thread:</td>
			<td>
				<a href="{{ .Get "release-thread"}}" target="_blank" class="external-link">Open</a>
			</td>
		</tr>
	{{ end }}
	
  {{ if .Get "download-link" }}
    <tr>
      <td>Get This Map:</td>
      <td><a href="{{ .Get "download-link"}}" target="_blank" class="external-link">Download</a></td>
    </tr>
  {{ else }}
    <tr>
	    <td colspan="2">
	      <div style="text-align: center; font-size: 0.9rem">
		      Get this map from the Release Thread
		    </div>
	    </td>
	  </tr>
	{{ end }}
	
</table>
