<table class="floating-table">
	{{ if .Get "name"}}	
		<tr>
			<th>Name</th>
			<td>{{ .Get "name" | markdownify }}</td>
		</tr>
	{{ end }}
	

	{{ if .Get "weight"}}	
		<tr>
			<th>Weight:</th>
			<td>{{ .Get "weight" | markdownify}}</td>
		</tr>
	{{ end }}
	
	{{ if .Get "category"}}
		<tr>
			<th>Category</th>
			<td>{{ .Get "category" | markdownify }}</td>
		</tr>
	{{ end }}
</table>
