<table class="floating-table">
	{{ if .Get "img"}}
		<tr>
			<td colspan="2">
				<img src="{{ .Get "img"}}" alt="A picture of the {{.Page.Title}}">
			</td>
		</tr>	
	{{ end }}
	
	{{ if .Get "ammo-capacity" }}
		{{ .Scratch.Set "ammo-capacity" (.Get "ammo-capacity") }}
	{{ else }}
		{{ .Scratch.Set "ammo-capacity" "N/A" }}
	{{ end }}
	
	<tr>
		<td>Ammo Capacity:</td>
		<td>{{ .Scratch.Get "ammo-capacity" | markdownify }}</td>
	</tr>
	
	{{ if .Get "ammo-class" }}
		{{ .Scratch.Set "ammo-class" (.Get "ammo-class") }}
	{{ else }}
		{{ .Scratch.Set "ammo-class" "None" }}
	{{ end }}

	<tr>
		<td>Ammo Class:</td>
		<td>{{ .Scratch.Get "ammo-class" | markdownify}}</td>
	</tr>

	{{ if .Get "damage"}}	
		<tr>
			<td>Damage (Bars):</td>
			<td>{{ .Get "damage" | markdownify}}</td>
		</tr>
	{{ end }}

	{{ if .Get "damage-head"}}	
		<tr>
			<td>Head Damage (Bars):</td>
			<td>{{ .Get "damage-head" | markdownify}}</td>
		</tr>
	{{ end }}
	
	{{ if .Get "damage-torso"}}
		<tr>
			<td>Torso Damage (Bars):</td>
			<td>{{ .Get "damage-torso" | markdownify}}</td>
		</tr>
	{{ end }}
	
	{{ if .Get "damage-leg"}}
		<tr>
			<td>Leg Damage (Bars):</td>
			<td>{{ .Get "damage-leg" | markdownify}}</td>
		</tr>
	{{ end }}
	
	{{ if .Get "fuse"}}	
		<tr>
			<td>Fuse:</td>
			<td>{{ .Get "fuse" | markdownify}}</td>
		</tr>
	{{ end }}
	
	{{ if .Get "fire-rate"}}
		<tr>
			<td>Fire Rate:</td>
			<td>{{ .Get "fire-rate" | markdownify}} per second</td>
		</tr>
	{{ end }}

	{{ if .Get "fire-rate-hold"}}
		<tr>
			<td>Fire Rate (Hold):</td>
			<td>{{ .Get "fire-rate-hold" | markdownify }} per second</td>
		</tr>
	{{ end }}
	
	{{ if .Get "fire-rate-tap"}}
		<tr>
			<td>Fire Rate (Tap):</td>
			<td>{{ .Get "fire-rate-tap" | markdownify}} per second</td>
		</tr>
	{{ end }}

	
	{{ if .Get "accuracy"}}
		<tr>
			<td>Accuracy:</td>
			<td>{{ .Get "accuracy" | markdownify}}</td>
		</tr>
	{{ end }}
		
	{{ if .Get "special"}}
		<tr>
			<td>Special:</td>
			<td>{{ .Get "special" | markdownify }}</td>
		</tr>
	{{ end }}
</table>
